
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

        :root {
            --vs-primary: 29 92 255;
        }

        #title{
            /* display: flex;
            justify-content: left; */
            margin-left: 330px;
            font-family: "Roboto Mono", monospace;
            font-weight: 900;
            font-size: 3rem;
            color: black;
            margin-bottom: 1.5rem;
        }

        .message-container {
            display: flex;
            /* align-items: center; */
            justify-content: center;
            flex-direction: column;
        }

        .message-wrap{
            margin-top: 30px;
            /* margin-left: 10px; */
            margin-left: 150px;
        }

        .message-wrap .no-undian {
            margin-bottom: 30px;
        }

        .message-wrap .no-undian .label-undian{
            font-family: "Roboto Mono", monospace;
            font-weight: 400;
            color: rgb(131, 131, 131);
        }

        .message-wrap .no-undian .kotak-undian{
            display: flex;
            justify-content: center;
            
            /* text-align: center; */
            width: 600px;
            height: 100px;
            border-radius: 10px;
            background: rgb(254,171,56);
            background: linear-gradient(90deg, rgba(254,171,56,1) 0%, rgba(255,103,39,1) 100%);
        }
        .message-wrap .no-undian .kotak-undian h2{
            letter-spacing: 70px;
            text-align: center;
            margin-left: 50px;
            font-size: 80px;
        }

        .message-wrap .hadiah .kotak-hadiah{
            display: flex;
            justify-content: center;
            padding-top: 15px;
            width: 600px;
            height: 100px;
            border-radius: 10px;
            background: rgb(14,212,213);
            background: linear-gradient(90deg, rgba(14,212,213,1) 0%, rgba(6,143,145,1) 100%);
        }

        .message-wrap .hadiah .kotak-hadiah h2{
            font-size: 50px;
        }

        .message-wrap .hadiah .label-hadiah{
            font-family: "Roboto Mono", monospace;
            font-weight: 400;
            color: rgb(131, 131, 131);
        }


        dialog {
            padding: 1rem 3rem;
            background: none;
            background-image: url(".././img/ticket_in.png");
            background-size: 1200px 500px;
            width: 1200px;
            height: 500px;
            /* max-width: 700px; */
            padding-top: 2rem;
            border-radius: 20px;
            border: none;
            /* box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%); */
            animation: fadeIn 1s ease both;
            position: relative;
        }

        dialog::backdrop {
            animation: fadeIn 1s ease both;
            background: rgb(255 255 255 / 40%);
            z-index: 2;
            backdrop-filter: blur(20px);
        }

        .x {
            filter: grayscale(1);
            border: none;
            background: none;
            position: absolute;
            top: 15px;
            right: 10px;
            transition: ease filter, transform 0.3s;
            cursor: pointer;
            transform-origin: center;
        }

        .x:hover {
            filter: grayscale(0);
            transform: scale(1.1);
            text-decoration: none;
        }

        .message {
            font-family: "Roboto Mono", monospace;
            font-weight: 500;
            font-size: 60px;
            color: white;
            /* padding-bottom: 1rem; */
        }

        /* body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Poppins, sans-serif;
            background-size: cover;
        } */

        #popup{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #close-popup.primary {
            display: inline-block;
            font-size: 0.8rem;
            color: #fff !important;
            background: rgb(var(--vs-primary) / 100%);
            padding: 13px 25px;
            border-radius: 17px;
            transition: background-color 0.1s ease;
            box-sizing: border-box;
            transition: all 0.25s ease;
            border: 0;
            cursor: pointer;
            box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 50%);
        }

        #close-popup.primary:hover {
            box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
            transform: translateY(-5px);
        }

        canvas {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            pointer-events: none;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
